include mixins/app-wrapper.pug

+wrapper()
  ul.services
    li
      a(href="/s3/buckets") View S3 Buckets
    li
      a(href="/sqs/queues") View SQS Queues
    li
      a(href="/sns/topics") View SNS Topics