include mixins/app-wrapper.pug

+wrapper()
  h2 #{queueUrl}

  form.w-25.mt-5(action=`/sqs/queues/message?queueUrl=${queueUrl}`, method="post")
    h3 Send a message

    .form-outline.mt-4
      input.form-control(name="messageGroupId", id="messageGroupId", required)
      label.form-label(for="messageGroupId") Message group id

    .form-outline.mt-4
      textarea.form-control(name="messageJson", id="messageJson", rows=15, cols=25, required)
      label.form-label(for="messageJson") Message body

    input.btn.btn-primary.mt-4(type="submit", title="Submit")
