include mixins/app-wrapper.pug

+wrapper()
  p Viewing SQS queues

  ul.queues
    each queueUrl in queueUrls
      li
        a(href=`/sqs/queues/view?queueUrl=${queueUrl}`)= queueUrl

  if (!queueUrls.length)
    p Such an empty sqs
