include mixins/app-wrapper.pug

+wrapper()
  p Viewing SQS queue #{queueUrl}

  form(action=`/sqs/queues/message?queueUrl=${queueUrl}`, method="post") 
    .form-group
      label(for="messageJson")
      textarea(name="messageJson", placeholder="Type your json message here", id="messageJson")
    .form-group
      input(type="submit", title="Submit").btn.btn-primary